<div class="hero-unit">
	<h1>Pages#home</h1>

	<p>Go to <%= link_to "One Month Rails", "http://www.google.com.hk" %></p>

	<p>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>