<div class="hero-unit">
	<h1>Pages#home</h1>

	<p>Go to <%= link_to "One Month Rails", "http://www.google.com.hk" %></p>

	<% if user_signed_in? %>
		<p>You're logged in.</p>
		<p>
			<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-large" %>
		</p>
	<% else %>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	<% end %>
</div>